doctype html
<html class="#{env} #{page}">
head
	meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
	meta(name="description", content=description)
	meta(name="keywords", content=keywords)
	meta(property="og:title", content=sitename)
	meta(property="og:type", content="website")
	meta(property="og:description", content=description)
	meta(property="og:url", content=url)
	meta(property="og:image", content=image)
	meta(property="og:site_name", content=sitename)
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	title #{title}#{page}
	- var css = (env=="pc")? (page=="index")? "index":"common" : "sp";
	link(href="css/#{css}.css", rel="stylesheet")
	if(env === "sp")
		link(href="font/iconvault-preview.css", rel="stylesheet")
	link(href="http://fonts.googleapis.com/css?family=Roboto:100,300,700italic", rel="stylesheet", type="text/css")
<body>